.catalogue a {
  display: inline-block;
  color: #333333;
  font-size: 14px;
  padding: 5px 8px;
}

address {
    margin-bottom: 0px;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .tag-cloud .selectedTag {
	color: white;
	background-color: #970001;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .bay-btn {
  left: 51%;
}

@media (max-width: 991px) {
  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .bay-btn {
    left: 70%;
  }
}
  @media (max-width: 480px) {
  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .bay-btn {
    left: 51%;
  }

  #aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure figcaption {
    text-align: center;
  }
}

@media (min-width: 992px) {

  .col-md-7 {
    width: 50%;
  }
  .col-md-5 {
    width: 50%;
  }

  @media (min-width: 1200px) {

    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
  }
}

